* {
	font-family:"Trebuchet MS","sans-serif";
}

/* Rules for CTPS "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of rules for CTPS "branding" */


/* In case we use jQueryUI, the following overrides jQueryUI ui-widget class size of "1.2em" */
.ui-widget {
	font-size: 12px;
}


#container {
	display: grid;
	grid-template-rows: 15% 85%;
	grid-template-columns: 100%;
	row-gap: 10px;
}

#r1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100%
	column-gap: 10px;
}


#r1_c1 {
}
#r1_c2 {
}
#r1_c3 {
}
#r1_c4 {
}
#r1_c5 {
}


#r2 {
	display: grid;
	grid-template-columns: 15% 85%;
	grid-tempate-rows: 100%;
	column-gap: 10px;
}

#r2_c1 {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	row-gap: 10px;
}

#r2_c2 {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 20px;
}

#r2_c1_r1 {
}
#r2_c1_r2 {
}
#r2_c2_r1 {
}
#r2_c2_r2 {
}
#r2_c2_r3 {
}